<section class="products">
    <div class="box-container">
        <div class="box">
            <span class="discount">-<%= product.discount %>% </span>
            <div class="image">
                <img src="/uploads/<%= product.photo.data %>" alt="<%= product.name %>" >
                <div class="icons">
                    <% if (!userAuthenticated) { %>
                        <div class="auth-alert" id="auth-alert-<%= product._id %>" style="display: none;">
                            <p>You need to be authenticated to perform this action.</p>
                        </div>
                    <% } %>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">add to cart</a>
                </div>
            </div>
            <div class="content">
                <h3><%= product.name %></h3>
                <div class="price"><%= product.priceWithDiscount %> $<span><%= product.price %>$</span></div>
            </div>
        </div>
    </div>
    <section class="review" id="review">
        <h1 class="heading">customers <span>review</span> </h1>
        <% if (Array.isArray(reviews) && reviews.length > 0) { %>
            <% reviews.forEach(review => { %>
                <div class="box-container">
                    <div class="box">
                        <div class="stars">
                            <% for (let i = 0; i < review.rating; i++) { %>
                                <i class="fas fa-star"></i>
                            <% } %>
                        </div>
                        <p><%= review.review %></p>
                        <div class="user">
                            <img src="/images/customer1.jpg" alt="">
                            <div class="user-info">
                                <h3><%= review.author.username %></h3>
                                <span>happy customer</span>
                            </div>
                        </div>
                        <span class="fas fa-quote-right"></span>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <p>No reviews yet.</p>
        <% } %>
</section>
<script src="/scripts/auth-alert.js"></script>