<section class="products">
    <div class="box-container">
        <div class="box">
            <span class="discount">-<%= product.discount %>% </span>
            <div class="image">
                <img src="/uploads/<%= product.photo.data %>" alt="<%= product.name %>" >
                <div class="icons">
                    <% if (!userAuthenticated) { %>
                        <div class="auth-alert" id="auth-alert-<%= product._id %>" style="display: none;">
                            <p>You need to be authenticated to perform this action.</p>
                        </div>
                    <% } %>
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn">add to cart</a>
                </div>
            </div>
            <div class="content">
                <h3><%= product.name %></h3>
                <div class="price"><%= product.priceWithDiscount %> $<span><%= product.price %>$</span></div>
            </div>
        </div>
    </div>
</section>
<script src="/scripts/auth-alert.js"></script>